a{
color: #ff0000;
text-decoration: none;

}

a:visited{

color: #0a0;

}
a:hover{
color:#fff;
background: pink;
text-decoration: underline;

}
a:focus{

    color: #99f;
    text-decoration:dotted;

}
a:active{

color: #558899;
background-color:#fff;
text-decoration: line-through;
}

