.lista-sin{
  list-style-type:none;
}
.lista-circulos{
list-style-type:circle;

}
.lista-cuadrados{
    list-style-type: square;
}
.list_romanos{
list-style-type: lower-roman;

}
.lista_griegos{
list-style-type:lower-greek ;

}