#fila1{

    color: teal;
    }
    
    #fila2{
        color: red;
    }
    
    #fila3{
        color: fuchsia;
    }
    
    #fila4{
        color: blueviolet;
        
    }
    
    #fila5{
        color: blue;
    }
    
    #fila6{
        color: yellowgreen;
    }
    
    #fila7{
        color: yellow;
        
    }
    td+td{

        background-color: green;
    }
    td+td+td{
    
        background-color: yellow;
    }